snippet inc "include"   iAb
#include<${1:stdio.h}>$0
endsnippet

snippet main
${1:int }main(${2:args}){
	${3:code}
}
endsnippet

snippet def
#define ${1:CONSTANT} ${2:value}
$0
endsnippet

snippet for "for cycle"
for(int ${1:i} = ${2:0};$1 ${3:<} ${4:collection};$1${5:++}){
	$6
}$0
endsnippet

snippet pf "printf()"
printf(${1:"${2:String}", ${3:vars}});$0
endsnippet
